{% extends 'Dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<img
  class="img-fluid"
  src="{% static 'img/NotRemarkable.png' %}"
  alt="NotRemarkable Logo"
  style="margin-top: 25px; margin-bottom: 25px;"
/>
<h1>Login</h1>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
    {{ message }}
  </li>
  {% endfor %}
</ul>
{% endif %}
<form method="POST">
  {% csrf_token %}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">{{ form|crispy }}</legend>
  </fieldset>
  <button type="submit" class="btn btn-dark">Login!</button>
</form>
<a href="{% url 'register' %}">Need an account? Click here to Register!</a>
{% endblock %}
