{% extends 'Dashboard/base.html' %} {% block content %} {% load static %}
<!-- NotRemarkable Logo -->
<img
  class="img-fluid"
  src="{% static 'img/NotRemarkable.png' %}"
  alt="NotRemarkableLogo"
  style="margin-top: 25px; margin-bottom: 25px;"
/>

<!-- Subscribe to Newsletter -->
  <!-- <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <h2>Subscribe to Newsletter</h2>
      <p class="text-big">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </p>
    </div>
    <div class="col-md-8">
      <div class="form-holder">
        <form action="." method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input type="email" name="email" id="email" placeholder="Type your email address here!">
          <button type="submit" class="submit btn btn-dark">Subscribe</button>
        </div>
        </form>
      </div>
    </div>
  </div> -->
  <!-- Button trigger modal -->
  <!-- <a href="" data-toggle="modal" data-target="#exampleModalCenter">
  Subscribe to our Newsletter!
  </a>

Modal
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<!-- Messages -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<!-- Cards -->
<div class="row">
  {% for post in posts %}
  <div class="col-md-4 d-flex">
    <div class="card text-white bg-dark mb-3 flex-fill">
      <div class="view overlay">
        <img class="card-img-top" src="{{post.image.url}}" alt="" />
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h4 class="card-title">{{post.title}}</h4>
        <p class="card-text">{{post.created_at}}</p>
        <a
          href="{% url 'detail' post.id %}"
          class="btn btn-outline-light btn-md"
          >Read more</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Pagination -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if posts.has_previous %}
    <li class="page-item">
      <a
        class="page-link"
        href="/?page={{posts.previous_page_number}}"
        tabindex="-1"
        >Previous</a
      >
    </li>
    {% endif %} {% for num in posts.paginator.page_range %}
    <li class="page-item">
      <a class="page-link" href="/?page={{num}}">{{ num }}</a>
    </li>
    {% endfor %} {% if posts.has_next %}
    <li class="page-item">
      <a class="page-link" href="/?page={{posts.next_page_number}}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
