<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UnRemarkable</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="css/text"
      href="{% static 'css/style.css' %}"
    />
    <!-- <link href="style_reg.css" rel="stylesheet" /> -->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Shop</a>
          </li>
        </ul>
      </div>

      <!-- Modal stuff -->
      {% if sign_in_button %}
      <button 
        style="margin-right: 8px;"
        type="button" 
        class="btn btn-outline-light" 
        data-toggle="modal" 
        data-target="#exampleModal">
        Sign In
      </button>
      
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <form action="/users/login_submit" method="POST">
                  {% csrf_token %}
                    <label for="log_email">Email Address</label>
                    <input type="email" class="form-control" name="log_email" />
                    <label for="log_pw">Password</label>
                    <input type="password" class="form-control" name="log_pw" />
                    <br>
                  <button type="submit" class="btn btn-dark">Login</button>
                </form>
                <br>
                <a href="/users/register" class="btn btn-secondary" role="button">No Account? Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <!-- Logged User -->
      {% if logged_user %}
          <span class="navbar-brand mx-auto">{{ logged_user }}</span>
          {% endif %}

      <!-- Logout Button -->
      {% if logged_user %}
      <a style="margin-right: 8px;" href="/users/logout" class="btn btn-outline-light" role="button">Logout</a>
      {% endif %}

      <!-- Search Box -->
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    </div>
    <div class="container">
      {% block content %} {% endblock %}
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>
